*{
    
    padding: 0; /* Eliminar espacios */
    margin: 0; /* Eliminar espacios */
    text-decoration: none; /* eliminar subrayados */
    list-style: none; /* Eliminar puntos de las listas */
    box-sizing: border-box; /* No se salgan los elementos del contenedor */
}
section{
    background: url(fondo.JPG) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
nav{
    background: #E1CAC1;
    height: 80px;
    width: 100%;
}

.enlace{ /* clase del logo*/
    position: absolute;
    padding: 20px 50px;
}
.logo{
    
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px; /* Para que no esten pegados el logo y el icono*/
}

nav ul li{
    display: inline-block; /*Para que se pongan en linea*/
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;/**/
}
li a.active, li a:hover{
    background: #46312b;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



.tit{
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Castoro Titling', cursive;
    width: 200px;
    margin-top: 20px;
    margin-left: 13px;
    
}

.lorem{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: relative;
    text-align: center;
    height: 300px;
    width: 610px;
    bottom: 280px;
    left: 875px;

}

.lorem p{
    margin: 0px;
    position: absolute;
    top: 39px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: justify;
    color: rgb(75, 49, 49);
}

footer {
    background-color: #E1CAC1;
    color: rgb(82, 59, 45);
    padding: 15px;
    font-size: 18px;
    text-align: center;
  }

@media screen and (max-width: 600px){
    .enlace{
        height: auto;
	    padding: 15px;
        padding-left: 20px;
    }
    

    nav ul li a{
        font-size: 16px;
    }
    .row.content {height:auto;}
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
}
