*{
    
    padding: 0; /* Eliminar espacios */
    margin: 0; /* Eliminar espacios */
    text-decoration: none; /* eliminar subrayados */
    list-style: none; /* Eliminar puntos de las listas */
    box-sizing: border-box; /* No se salgan los elementos del contenedor */
    
}
.cuerp{
    font-family: sans-serif;
}
body{
    background: linear-gradient(#3A312D, #4C4C4C);
    color: white;
}
nav{
    background: #E1CAC1;
    height: 80px;
    width: 100%;
}

.enlace{ /* clase del logo*/
    position: absolute;
    padding: 20px 50px;
}
.logo{
    
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px; /* Para que no esten pegados el logo y el icono*/
}

nav ul li{
    display: inline-block; /*Para que se pongan en linea*/
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;/**/
}
li a.active, li a:hover{
    background: #46312b;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


section.inf{
    background: white no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
   
}
.encabezado{
    background-image: url(header.jpg);
    height: 270px;
    background-size: cover;
}

.tit{
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Castoro Titling', cursive;
    width: 200px;
    margin-top: 20px;
    margin-left: 13px;
    
}



ul.col5
{

PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 100%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

ul.col5 li
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 20%;
PADDING-TOP: 2px
}

ul.colact
{

PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 100%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

ul.colact li
{
PADDING-RIGHT: 10px;
DISPLAY: inline;
PADDING-LEFT: 100px;
FLOAT: left;
PADDING-BOTTOM: 60px;
WIDTH: 30%;
PADDING-TOP: 2px
}

.orig{
    padding-left: 400px;
    text-align: justify;
}
#titOrigen{
   text-align: center;
}
.prot{
    width: 270px;
    
}

.container{
    border: solid 1px rgba(255, 255, 255, 0.2);
}

table{
    color: #fff;
    table-layout: fixed;
    border-collapse: collapse;
}

thead{
    background: rgba(41, 40, 61, 0.404);
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    
}
tbody tr:hover{
    background: rgba(195, 47, 214, 0.404);
}

.tpred{
    width: 260px;
    height: 180px;
    padding-left: 30px;
    
}
.cab{
    width: 330px;
    height: 180px;
    padding-left: 80px;
}

.dispRed{
    width: 330px;
    height: 190px;
    padding-left: 40px;
    padding-right: 10px;
}
.segRed{
    width: 320px;
    height: 190px;
    padding-left: 10px;
    padding-right: 10px;
}

#titAct{
    text-align: center;
}

footer {
    background-color: #E1CAC1;
    color: rgb(82, 59, 45);
    padding: 15px;
    font-size: 18px;
    text-align: center;
  }


@media screen and (max-width: 600px){
    .enlace{
        height: auto;
	    padding: 15px;
        padding-left: 20px;
    }
    

    nav ul li a{
        font-size: 16px;
    }
    .row.content {height:auto;}
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
}